{% extends 'admins.html' %}
{% load static from staticfiles %}
{% block admin %}
    <div class="container">
        <div class="row">
            <div class="col-md-2 spon-txt">
                <span>管理员操作：</span>
            </div>
            <div class="col-md-10">

            </div>


        </div>
    </div>
    <div class="container" >
    <form action="/addblog/" method="post">
    标题：<br><input type="text" name="title"><br><br>
    文章类型：<br>  <select name="type">
                <option value="0">公告</option>
                <option value="1">Python 基础</option>
                <option value="2">Python Web开发</option>
                <option value="3">Python 网络爬虫</option>
                </select>
                <br><br>
    内容：<br><textarea name="test" cols="30" rows="4"></textarea><br>

    <input type="submit" value="提交">
    </div>



{% endblock admin %}